<nav>
  <ul class="pagination justify-content-center mt-4">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      </li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
      <li class="page-item {% if i == page_obj.number %}active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      </li>
    {% endif %}
  </ul>
</nav>