{% extends "base.html" %}
{% load static %}

{% block title %}Categoría: {{ category.title }}{% endblock %}

{% block content %}
<h2 class="mt-4">Categoría: {{ category.title }}</h2>

<div class="row">
  {% for product in elements %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      {% if product.image %}
      <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
      {% else %}
      <img src="{% static 'images/default.png' %}" class="card-img-top" alt="{{ product.title }}">
      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="price">${{ product.price }}</p>
        <a href="{% url 'elements:detail' product.id %}" class="btn btn-sm btn-outline-light">Ver más</a>
      </div>
    </div>
  </div>
  {% empty %}
    <p>No hay productos en esta categoría.</p>
  {% endfor %}
</div>
{% endblock %}
